<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527803609111-b2i6o2d9c0k2keiah0muusrpvmna7nn5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527803609111-b2i6o2d9c0k2keiah0muusrpvmna7nn5</string>
	<key>API_KEY</key>
	<string>AIzaSyDKiV3WyD7Hl9mUbZ9G299KTgvCEIxyCzk</string>
	<key>GCM_SENDER_ID</key>
	<string>527803609111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.huspi.egersund</string>
	<key>PROJECT_ID</key>
	<string>egersund-95495</string>
	<key>STORAGE_BUCKET</key>
	<string>egersund-95495.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527803609111:ios:40a3a1a6d75c9b8ac8ac52</string>
</dict>
</plist>